
@{
    ViewData["Title"] = "Status404";
}

<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="icon-sitemap"></i>
                404
            </span>
            Quiz Not Found
        </h1>

        <hr />
        <h3 class="lighter smaller">Quiz you'r looking for may be deleted. Go to you'r <a href="/home/index"> dashboard </a> or contact admin </h3>

        <div>

            <div class="space"></div>
            <h4 class="smaller">Try one of the following:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="icon-hand-right blue"></i>
                    Re-check the url for typos
                </li>

                <li>
                    <i class="icon-hand-right blue"></i>
                    Read the faq
                </li>

                <li>
                    <i class="icon-hand-right blue"></i>
                    Tell us about it
                </li>
            </ul>
        </div>

        <hr />
        <div class="space"></div>

        <div class="center">
            <a href="/home/index" class="btn btn-grey">
                <i class="icon-arrow-left"></i>
                Go Back
            </a>

            <a href="/employee/index" class="btn btn-primary">
                <i class="icon-dashboard"></i>
                Dashboard
            </a>
        </div>
    </div>
</div><!-- PAGE CONTENT ENDS -->
